.color-black {
	fill: black;
	stroke:transparent;
	font-family: sans-serif;
}

/** css svg 
 * https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/vector-effect
 */
path, line, rect, circle {
	vector-effect: non-scaling-stroke;
	stroke-linecap: round; /* Свойство определяет как будут выглядеть концы линий */
	stroke-linejoin: miter; /* Определяет как будут выглядеть соединения линий на углах */
}


/* ГОСТ 2.303-68 */

/** Сплошная тонкая линия применяется для изображения размерных и выносных линий, 
 * штриховки сечений, линии контура наложенного сечения, линии–выноски, 
 * линии для изображения пограничных деталей ("обстановка").
 */
.line-style-normal {
	stroke: #000;
	stroke-width: 0.7;
	fill: transparent;
}

/** Сплошная толстая линия применяется для изображения видимого контура предмета, 
 * контура вынесенного сечения и входящего в состав разреза.
 * Толщина сплошной основной линии S должна быть в пределах от 0,5 до 1,4 мм 
 * в зависимости от величины и сложности изображения, а также от формата чертежа
 */
.line-style-bold {
	stroke: #0080FF;
	stroke-width: 1.4;
	fill: transparent;
}

.line-style-bold2 {
	stroke: #009696;
	stroke-width: 2.4;
	fill: transparent;
}

/** Штриховая линия применяется для изображения невидимого контура. Длина штрихов должна быть одинаковая. 
 * Длину следует выбирать в зависимости от величины изображения, примерно от 2 до 8 мм, 
 * расстояние между штрихами 1...2 мм.
 * SVG: Если задать два числа stroke-dasharray="50 10", первое будет управлять длиной отрезков, 
 * второе — длиной пробелов.
 */
.line-style-dashed {
	stroke: #000;
	stroke-width: 0.7;
	stroke-dasharray: 8 2;
	fill: transparent;
}

/** Штрихпунктирная тонкая линия применяется для изображения осевых и центровых линий, линий сечения, 
 * являющихся осями симметрии для наложенных или вынесенных сечений. Длина штрихов должна быть одинаковая 
 * и выбирается в зависимости от размера изображения, примерно от 5 до 30 мм. 
 * Расстояние между штрихами рекомендуется брать 2...3 мм.
 * SVG: Последовательность можно продолжить stroke-dasharray="1 2 3 5 8 13 21", в этом случае 
 * получится пунктирная линия со сложным ритмом.
 */
.line-style-dotted {
	stroke: #FF8000;
	stroke-width: 0.7;
	stroke-dasharray: 15 2 3 2;
	fill: transparent;
}

/** Штрихпунктирная линия с двумя точками применяется для изображения деталей в 
 * крайних или промежуточных положениях; линии сгиба на развертках.
 */
.line-style-doubleDotted {
	stroke: #FF8000;
	stroke-width: 0.7;
	stroke-dasharray: 15 2 1 2 1 2;
	fill: transparent;
}
